body {
    background-image: url(/img/private-background.jpg);
 }

#resume {
    background-color: rgb(177, 206, 243);
    margin: 20px;
    border-radius: 15px;

}

.card-title {
    text-align: center;
}

.card {
    border-radius: 15px;
}

#sidebar {
    padding: 0;
}

#linksprivate {
    margin: 10px;
    border-radius: 15px;
    text-align: center;

}

.list-group {
    text-align: center;
}